table {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    background-color: lightgray;
}

/* tr:nth-child(odd) {
    background-color: skyblue;
} */


tr:odd-rows {
    background-color: skyblue;
}

input[type=text] {background-color: #efac3e;}
/* input {background-color: #efac3e;} */
/* input[name=text] {background-color: #efac3e;} */
/* text {background-color: #efac3e;} */