* {
    margin: 0;
    max-width: 100%;
}

body {
    background-color: rgba(48, 84, 63, 0.3);
}

#hamburger {
    border: none;
    background: none;
    font-size: larger;
    color: black;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open::before {
    content: "X";
}

#nav {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 100%;
    margin: 0;
    justify-content: center;
    padding: 2rem 0;
    color: black;
    border-bottom: 8px solid #6B4B3E;
}

#nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "MedievalSharp", Arial, Helvetica, sans-serif;
}

.active {
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

ul {
    display: none;
    margin: auto;
    padding-top: 10px;
    padding: 0;
}

.open-ul {
    display: block;
    margin: auto;
    padding-top: 10px;
    padding: 0;
}

li {
    list-style: none;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    cursor: pointer;
}

.hero {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("project/images/misty-forest.webp");
    background-size: cover;
    margin: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    text-align: center;
    background-color: rgba(48, 84, 63, 0.5);
    padding: 1rem;
    border-radius: 6px;
    color: white;
}

.main-section {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#gear-header {
    padding: 2rem 10px;
    padding-top: 4rem;
    text-align: center;
}

.menu-card {
    max-width: 400px;
    border: 5px solid #6B4B3E;
    margin: 2rem auto;
    background-color: #6B4B3E;
}

.menu-card a {
    text-align: center;
    z-index: 2;
    border-radius: 6px;
    color: white;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 2rem;
}

.menu-card img {
    background-color: #6B4B3E;
}

h2 {
    font-family: "MedievalSharp", Arial, Helvetica, sans-serif;
}

.about p {
    background-color: rgba(107, 74, 62, 0.3);
    padding: 1rem;
    border-radius: 6px;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
}

.about {
    margin-bottom: 2rem;
    margin-top: 2rem;
}


footer {
    background-color: lightgray;
    color: black;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    border-top: 8px solid #6B4B3E;
}

/* Home Page ^^^^ */
/* Form Suggestion Page vvvv */

form h1 {
    margin: 2rem 0;
    text-align: center;
}

form {
    margin: auto;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
}

#reviewForm {
    max-width: 500px;
}

#reviewForm fieldset {
    margin: 1rem .5rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1rem;
    background-color: #F5F5F5;
}

#reviewForm label {
    display: block;
}

#reviewForm select {
    background-color: white;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 17px;
    color: #555;
    width: 100%;
    appearance: none;
    margin: .5rem 0;
}

#overallRating {
    margin-top: 2.5rem;
}

#radioButtons {
    display: flex;
    margin: .2rem;
    justify-content: space-between;
    align-items: center;
}

.ratingButton {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

#installLabel {
    margin-top: 2.5rem;
    max-width: 90%;
}

#installDate {
    display: block;
    background-color: white;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 17px;
    color: #555;
    width: 100%;
    appearance: none;
    margin: .5rem 0;
}

#websiteLabel {
    margin-top: 2.5rem;
}

#reviewLabel {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

#suggestionLabel {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.writtenReview {
    width: 100%;
    border: solid 1px #999;
    border-radius: 6px;
    margin-top: .5rem;
}

#nameLabel {
    margin-top: 2.5rem;
}

#name {
    display: block;
    background-color: white;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 17px;
    color: #555;
    width: 90%;
    appearance: none;
    margin: .5rem 0;
}

#postSuggestion {
    width: 100%;
    margin-top: 2rem;
    padding: 18px;
    border: solid 1px #999;
    border-radius: 6px;
    font-size: large;
    font-weight: bold;
    appearance: none;
}

.blue {
    color: #0707a2;
    font-size: smaller;
}

#form-main h1 {
    font-family: "MedievalSharp", Arial, Helvetica, sans-serif;
}

/* Form Suggestion Page vvvv */



#postReviewHeading {
    text-align: center;
    margin: 3rem 0;
}

main p {
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 5rem;
}

/* Form Suggestion Page ^^^^ */
/* Form Result Page vvvv */

#formResultMain h2 {
    text-align: center;
    font-family: "MedievalSharp", Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}

#formResultMain p {
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
}

/* Form Result Page ^^^^ */
/* Dice Roller Page vvvv */

#dice-cards {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#dice-header {
    padding: 2rem 10px;
    padding-top: 4rem;
    text-align: center;
    font-family: "MedievalSharp", Arial, Helvetica, sans-serif;
}

.dice-roller {
    width: 250px;
    margin: 2rem auto;
    background-color: lightgray;
    padding: 2rem;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dice-roller button {
    margin: 1rem;
    padding: 20px 50px;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    border-radius: 6px;
}

#dice-cards span {
    background-color: #efefef;
    border: 2px solid black;
    padding: 20px 50px;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    align-self: center;
    border-radius: 6px;
}

#dice-cards img {
    margin-bottom: 2rem;
}